@import '../../../styles/_colors.scss';
body{
  background: $bgLightGray !important;
  .ClientsView {
    padding: 20px;
    padding-bottom: 80px;
    background: $bgLightGray;
    .clearfix{
      clear: both;
    }
    &__Dialog{
      z-index: 0 !important;
      & > div:nth-child(2){
        width: 50%;
      }
    }
    &__AddModal{
      &--search{
        &--formControl{
          width: 100%;
          float: left;
          margin-bottom: 10px !important;
          &.small{
            width: 45%;
          }
          .ant-select{
            width: 100%;
          }
          &:nth-child(2n){
            float: right !important;
          }
        }
      }
      &--manual{
        &--formControl{
          width: 100%;
          float: left;
          margin-bottom: 10px !important;
          &.small{
            width: 45%;
          }
          .ant-select{
            width: 100%;
          }
          &:nth-child(2n+1){
            float: right !important;
          }
        }
      }
      &--clients{
        ul{
          list-style: none;
          padding: 0px;
          li{
            border-bottom: solid 1px $gray;
            padding: 8px 20px;
            .ant-checkbox{
              margin-right: 20px;
            }
          }
        }
      }
      button{
        float: right;
        margin-left: 20px;
        background-color: $black;
        color: $white;
        &:disabled{
          background: $gray;
        }
      }
      p{
        cursor: pointer;
        &.text-right{
          text-align: right;
        }
      }
    }
    &__logo {
      width: 40rem;
      margin: 10% auto 0;
    }
    &--top{
      display: flex;
      &--title, &--option{
        flex-grow: 0.5;
        &__input{
          width: 100%;
        }
      }
    }
    &--bottom{
      text-align: right;
      position: fixed;
      bottom: 0px;
      width: 100%;
      background: $white;
      padding: 20px;
      margin-left: -20px;
      button{
        background-color: $black;
        color: $white;
      }
    }
    &--content{
      background-color: $white;
      border: solid 1px $gray;
      padding: 50px 20px;
      &--empty{
        width: 240px;
        height: 170px;
        float: left;
        margin: 10px;
        &--content{
          padding: 20px;
          border: dotted 2px $gray;
          font-size: 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          height: 140px;
        }
      }
      &--item{
        width: 240px;
        height: 170px;
        float: left;
        margin: 10px;
        &--content{
          padding: 20px;
          border: solid 2px $gray;
          height: 140px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}


